In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('option_data/OPTIDX_NIFTY_CE_01-Jan-2019_TO_30-Aug-2021.csv')

In [3]:
data

,Symbol,Date,Expiry,Option Type,Strike Price,Open,High,Low,Close,LTP,Settle Price,No. of contracts,Turnover in Lacs,Premium Turnover in Lacs,Open Int,Change in OI,Underlying Value
0,NIFTY,11-Feb-2019,04-Apr-2019,CE,12400,0.0,0.00,0.0,5.05,0.00,3.20,0,0.00,0.00,0,0,-
1,NIFTY,11-Feb-2019,04-Apr-2019,CE,9600,0.0,0.00,0.0,1447.70,0.00,1391.30,0,0.00,0.00,0,0,-
2,NIFTY,11-Feb-2019,04-Apr-2019,CE,12150,0.0,0.00,0.0,12.60,0.00,8.65,0,0.00,0.00,0,0,-
3,NIFTY,11-Feb-2019,04-Apr-2019,CE,12200,0.0,0.00,0.0,10.60,0.00,7.15,0,0.00,0.00,0,0,-
4,NIFTY,11-Feb-2019,04-Apr-2019,CE,12250,0.0,0.00,0.0,8.85,0.00,5.90,0,0.00,0.00,0,0,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41941,NIFTY,30-Aug-2021,02-Sep-2021,CE,15350,1420.8,1566.85,1420.8,1566.85,1566.85,1566.85,2,16.84,1.49,50,0,-
41942,NIFTY,30-Aug-2021,02-Sep-2021,CE,15100,0.0,0.00,0.0,1050.50,0.00,1835.60,0,0.00,0.00,0,0,-
41943,NIFTY,30-Aug-2021,02-Sep-2021,CE,15150,0.0,0.00,0.0,1018.95,0.00,1785.60,0,0.00,0.00,0,0,-
41944,NIFTY,30-Aug-2021,02-Sep-2021,CE,15200,0.0,0.00,0.0,1467.00,1467.00,1735.65,0,0.00,0.00,1700,0,-
41945,NIFTY,30-Aug-2021,02-Sep-2021,CE,14950,0.0,0.00,0.0,1148.45,0.00,1985.55,0,0.00,0.00,0,0,-