In [1]:
import pandas as pd

In [5]:
data = pd.read_csv('option_data/sample.csv')

In [6]:
data

,Symbol,Date,Expiry,Option Type,Strike Price,Open,High,Low,Close,LTP,Settle Price,No. of contracts,Turnover in Lacs,Premium Turnover in Lacs,Open Int,Change in OI,Underlying Value
0,NIFTY,02-Aug-2021,30-Sep-2021,CE,17000,15.30,16.65,14.05,14.85,15.00,14.85,2303,19593.01,17.51,395025,5000,-
1,NIFTY,02-Aug-2021,30-Sep-2021,CE,17050,0.00,0.00,0.00,439.90,0.00,252.75,0,0.00,0.00,0,0,-
2,NIFTY,02-Aug-2021,30-Sep-2021,CE,17100,12.45,14.65,9.50,12.15,12.50,12.15,164,1403.18,0.98,7700,-500,-
3,NIFTY,02-Aug-2021,30-Sep-2021,CE,17150,0.00,0.00,0.00,20.00,20.00,229.80,0,0.00,0.00,4800,0,-
4,NIFTY,02-Aug-2021,30-Sep-2021,CE,17200,0.00,0.00,0.00,11.00,11.00,218.25,0,0.00,0.00,4200,0,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1785,NIFTY,31-Aug-2021,30-Sep-2021,CE,16750,332.40,492.10,319.10,478.70,480.90,478.70,1194,10242.21,242.46,50450,-9050,-
1786,NIFTY,31-Aug-2021,30-Sep-2021,CE,16800,296.00,458.85,284.60,440.60,443.00,440.60,22306,191300.84,3930.44,807400,-79900,-
1787,NIFTY,31-Aug-2021,30-Sep-2021,CE,16850,265.05,421.45,254.80,404.70,406.85,404.70,2053,17620.80,324.28,58850,-20500,-
1788,NIFTY,31-Aug-2021,30-Sep-2021,CE,16900,246.80,387.65,225.95,367.75,372.00,367.75,40361,346826.38,5775.93,738500,-100650,-
1789,NIFTY,31-Aug-2021,30-Sep-2021,CE,16950,220.00,352.70,200.00,332.30,338.55,332.30,6911,59434.67,863.95,47150,-17000,-

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1790 entries, 0 to 1789
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Symbol                    1790 non-null   object
 1   Date                      1790 non-null   object
 2   Expiry                    1790 non-null   object
 3   Option Type               1790 non-null   object
 4   Strike Price              1790 non-null   int64
 5   Open                      1790 non-null   float64
 6   High                      1790 non-null   float64
 7   Low                       1790 non-null   float64
 8   Close                     1790 non-null   float64
 9   LTP                       1790 non-null   float64
 10  Settle Price              1790 non-null   float64
 11  No. of contracts          1790 non-null   int64
 12  Turnover in Lacs          1790 non-null   float64
 13  Premium Turnover in Lacs  1790 non-null   float64
 14  Open Int                  1790 non-null   int64
 15  Change in OI              1790 non-null   int64
 16  Underlying Value          1790 non-null   object
dtypes: float64(8), int64(4), object(5)
memory usage: 237.9+ KB